body {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.listContainer{
    width :100%;
    margin : 0 auto;
    text-align: center;
}
.list{
    width : 45%;
    height: 40px;
    border : none;
    font-weight: bold;
    border-radius : 30px;
}

.list:hover{
    background-color:#a3a3a3;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

.wrap {
    height: 700px;
    overflow : scroll;
}

::-webkit-scrollbar {
  display: none;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}

.wrap .chat .icon i {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .send .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .send .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .receive {
    flex-direction: row-reverse;
}

.wrap .receive .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .receive .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.chat-list, .user-list{
  max-width: 600px;
  margin: 20px auto;
}

.chat, .user {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat:hover , .user:hover {
  background-color:#a3a3a3;
  transition: 0.3s;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info, .user-info {
  flex-grow: 1;
}



h2 {
  margin: 0;
  font-size: 16px;
}

p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #888;
}
