<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="classpath:mybatis/mapper/AuthMapper.xml" />
        <mapper resource="classpath:mybatis/mapper/ChatMapper.xml" />
        <mapper resource="classpath:mybatis/mapper/UserMapper.xml" />
        <mapper resource="classpath:mybatis/mapper/ChatRoomListMapper.xml" />
        <!-- 다른 매퍼 파일을 여기에 추가할 수 있습니다. -->
    </mappers>

</configuration>
