<!-- AuthMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 별칭(Alias)을 지정한 namespace -->
<mapper namespace="com.photo.photogram.DAO.ChatRoomListDAO">

    <select id="chatList" parameterType="int" resultType="com.photo.photogram.DTO.ChatRoomListDTO">
        SELECT ROOM_ID ,ROOM_NM ,ROOM_NUM , ROOM_MAX_NUM ,USE_AT ,
        RGSDATE ,RGSUSR ,MODDATE ,MODUSR
        FROM i_room
        WHERE USR_ID = #{id}
    </select>

    <select id="getUser" parameterType="int" resultType="com.photo.photogram.DTO.UserDTO">
        select USR_ID,NAME,PW,MENU_AUTHOR_AT ,USE_AT
        ,EMAIL ,TEL ,RGSDATE ,RGSUSR ,MODDATE ,MODUSR
        from i_usr_mn
        where use_at = 'Y'
    </select>

    <!-- 수정해야함 -->
    <select id="getRoomNum" parameterType="com.photo.photogram.DTO.ChatRoomListDTO" resultType="com.photo.photogram.DTO.ChatRoomListDTO">
        SELECT ROOM_ID
        FROM I_ROOM
        WHERE USR_ID IN (1, 2) -- 1번 usr_id와 2번 usr_id를 대체하십시오
        GROUP BY ROOM_ID
        HAVING COUNT(DISTINCT USR_ID) = 2;
    </select>

</mapper>
