<!-- AuthMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 별칭(Alias)을 지정한 namespace -->
<mapper namespace="com.photo.photogram.DAO.ChatRoomListDAO">

    <select id="chatList" parameterType="int" resultType="com.photo.photogram.DTO.ChatRoomListDTO">
        SELECT ROOM_ID ,ROOM_NM ,ROOM_NUM , ROOM_MAX_NUM ,USE_AT ,
        RGSDATE ,RGSUSR ,MODDATE ,MODUSR
        FROM i_room
        WHERE USR_ID = #{id}
    </select>

</mapper>
