<!-- AuthMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 별칭(Alias)을 지정한 namespace -->
<mapper namespace="com.photo.photogram.DAO.AuthDAO">

    <select id="getMsgAll" parameterType="com.photo.photogram.DTO.UserDTO" resultType="com.photo.photogram.DTO.UserDTO">
        select * from i_msg
        where SND_ID = #{sndId}
        or RCV_ID = #{sndId};
    </select>

    <insert id="sndMsg" parameterType="com.photo.photogram.DTO.UserDTO">
        insert into i_msg (
            ROOM_ID,
            SND_ID ,
            SND_NM ,
            RCV_ID,
            RCV_NM,
            MSG ,
            RGSDATE ,
            RGSUSR
        )VALUES(
            #{roomId},
            #{sndId},
            #{sndNm},
            #{rcvId},
            #{rcvNm},
            #{msg},
            NOW(),
            #(rgsUsr)
        );

    </insert>

</mapper>
